node_modules/
tmp/
temp/
.tmp/
.temp/
.cache/
dist/
build/
out/
output/
bin/
obj/
.git/
.svn/
.hg/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.catdoublerignore
.catdoubler.package.json
.catdoublername
